.host-main {
  display: flex;
  margin: 0 auto !important;
  border-radius: 32px !important;
  height: 460px;
  margin-left: 16px !important;
  width: 97% !important;
}

.host .host-box.black {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  font-size: 20px;
  width: 45%;
}

.host-info {
  margin: 0 auto !important;
  display: flex;
  flex-direction: column;
  max-width: 74%;
  margin-bottom: 30px !important;
}

.host-box.black h1 {
  font-size: 3.2rem;
  font-weight: bold;
}

.host-box.black button {
  cursor: pointer !important;
  display: inline-block !important;
  margin-top: 15px !important;
  position: relative !important;
  text-align: center !important;
  text-decoration: none !important;
  width: auto !important;
  touch-action: manipulation !important;
  font-weight: 600 !important;
  height: 44px !important;
  background: #f4f4f4 !important;
  border-radius: 8px !important;
  max-width: 120px;
  border: none !important;
  font-size: 16px;
}
.host .host-box.image {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  width: 55%;
  height: 100% !important;
}
.host-box.image img {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  width: 100%;
  height: 100%;
}
